html {
    box-sizing: border-box;
    font-family: Microsoft YaHei, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.layout {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    .layout-menu {
        width: 180px;
        // height: 100vh;
        min-height: 100vh;
        overflow-x: hidden;
        transition: width .2s;
        background-color: #2B3848;
    }
    .layout-main {
        width: calc(100% - 180px);
        min-height: 100%;
        transition: width .2s;
        background-color: #FAFAFA;
        padding: 15px;
    }
}
.information{
    .replayDia {
        & > .title {
          font-size: 14px;
        }
        & > .nickname {
          font-size: 12px;
          border-top: 1px dotted #999;
        }
        margin-bottom: 10px;
    }
}
.entries_box{
    .el-form-item .el-select--small {
        font-size: 14px !important;
        width: 100% !important;
    }
    .el-form-item .el-input--small{
        width: 100% !important;
    }
}